test/example/choice_basic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="choice">
		<xs:complexType>
			<xs:choice>
				<xs:element name="elem1" type="xs:string" />
				<xs:element name="elem2" type="xs:string" />
				<xs:element name="elem3" type="xs:string" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>