test/schema/all_minmax.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="all">
		<xs:complexType>
			<xs:all minOccurs="0" maxOccurs="1">
				<xs:element name="e0" type="xs:string" />
				<xs:element name="e1" type="xs:string" minOccurs="0" maxOccurs="0" />
				<xs:element name="e2" type="xs:string" minOccurs="1" maxOccurs="1" />
				<xs:element name="e3" type="xs:string" />
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>