test/schema/attribute_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="att" type="myType" />
	<xs:complexType name="myType">
		<xs:attribute name="str" type="xs:string" />
		<xs:attribute name="num" type="xs:integer" />
		<xs:attribute name="never" type="xs:string" use="prohibited" />
		<xs:attribute name="id" type="xs:integer" use="required" />
	</xs:complexType>
</xs:schema>