test/schema/sequence_sequence_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="sequence">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="e1" type="xs:string" minOccurs="0" />
				<xs:sequence>
					<xs:element name="e2" type="xs:string" minOccurs="0" />
				</xs:sequence>
				<xs:element name="e3" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>